%h3= t(:new_wiki_page)
= bootstrap_form_tag :url => new_wiki_page_path , :html => { :role=>"form"}  do |f|
  .form_group
    = f.text_field :name
  .form_group
    = f.text_area :content 
  = render :partial => "message" , :locals => { :f =>f}
  